@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(../ubuntu.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(../ubuntu-bold.woff) format('woff');
}

body {
	margin: 0px;
	padding: 0px;
	background: #fafafa;
	width: 600px;
	height: 600px;
	font-size: 12px;
	color: #5e5e5e;
	font-family: Ubuntu, Helvetica, Arial, sans-serif
}

a {
	display: inline-block;
	text-decoration: italic;
	color: #000;
	
}

img {
	vertical-align: middle;
}

.header {
	height: 50px;
	color: #fafafa;
	background-image:-webkit-gradient(linear, left top, left bottom, from( #3c3c3c ), to( #111 ));
}

.header a {
	color: #fff;
}

.header div {
	vertical-align: top;
}

.header .right {
	display: inline-block;
	padding: 5px;
	width: 140px;
	height: 40px;
	line-height: 20px;
	text-align: right;
}

.header .left {	
	display: inline-block;
	padding: 5px;
	width: 140px;
	height: 40px;
	line-height: 20px;
	text-align: left;
} 

.header .left table {
	width: 100%;
}

.header .center {
	display: inline-block;
	text-align: center;
	width: 294px;
}

.header .center h2 {
	margin: 0;
	margin-top: 5px;
	padding: 0;
}

.header span.red {
	color: #ff0000;
	font-weight: bold;
}

.header span.green {
	color: #00ff00;
	font-weight: bold;
}

.filter {
	width: 100%;
}

.filter .wrapper {
	margin: 5px auto 5px auto;
	text-align: center;
}

.hide {
	display: none;
	visibility: hidden;
}

.loading {
	opacity: 0.4;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	width: 100%;
	text-align: center;
	z-index: 1000;
}

.box {
	border: none;
	padding: 5px;
	margin: 0;
	border-radius: 10px;
	background-color: #eee;
	box-shadow: 0 0 5px #555;
	-webkit-transition: background-color .5s;
}

.box:hover {
	cursor: pointer;
	background-color: #ccc;
}

.box.green {
	background-color: rgba(0, 255, 0, 0.15);
}

.box.green:hover {
	background-color: rgba(0, 255, 0, 0.35);
}

.box.yellow {
	background-color: rgba(255, 255, 0, 0.15);
}

.box.yellow:hover {
	background-color: rgba(255, 255, 0, 0.35);
}

.box.red {
	background-color: rgba(255, 0, 0, 0.15);
}

.box.red:hover {
	background-color: rgba(255, 0, 0, 0.35);
}

.box.blue {
	background-color: rgba(0, 0, 255, 0.15);
}

.box.blue:hover {
	background-color: rgba(0, 0, 255, 0.35);
}

.fade {
	opacity: 0.3;
	-webkit-transition: opacity .5s;
}

.fade:hover {
	opacity: 1;
}

.spacer {
	height: 10px;
}

.box .title {
	font-size: 18px;
	margin-bottom: 5px;
	padding-bottom: 3px;
	border-bottom: #000 1px dotted;
	white-space: nowrap;
}

.box .title h1 {
	font-size: 18px;
	font-weight: bold;
	width: 500px;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.box .title img {
	vertical-align: middle;
}

.box .title .info {
	display: inline-block;
	text-align: right;
	float: right;
}

.box .desc {
	
}

.box .desc div {
	display: inline-block;
	vertical-align: top;
}

.box .desc .logo {
	width: 184px;
	height: 69px;
	border-radius: 10px;
}

.box .desc .info {
	max-height: 69px;
	width: 300px;
	margin-left: 10px;
	text-align: justify;
	overflow:hidden;
	line-height: 16px;
}

.box .desc .info table {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.box .desc .info table tr {
	height: 20px;
}

.box .desc .info table td {
	padding: 0px;
	width: 72px;
}
.box .desc .info table td a {
	display: inline-block;
	width: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.box .desc .info table td.td-icon {
	width: 18px;
}

.box .desc .actions {
	text-align: center;
    line-height: 20px;
    border-left: 1px dotted;
    float: right;
    height: 60px;
    width: 60px;
    padding-left: 7px;
    padding-right: 5px;
}

.box .desc .actions div.button {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0);
    -webkit-transition: border .2s;
    text-decoration: none;
}

.box .desc .actions div:hover {
	display: block;
	border: 1px dotted rgba(175, 175, 175, 1);
}

.wrapper {
	margin: 5px 5px 5px 5px;
	padding: 0px;
	width: 590px;
}

.clear {
  clear: both;
}
