/* CSS for Gmail Checker popup.html */

html, body
{
	width: 98%;
	min-width: 400px;
	max-height: 800px;
	overflow: auto;
	margin: 0px;
	padding: 0px;
}

a, a:hover, a:active, a:link, a:visited {
	color : inherit;
}